

homeassistant:
  # Name of the location where Home Assistant is running
  name: Nido
  # Location required to calculate the time the sun rises and sets
  latitude: !secret latitude
  longitude: !secret longitude
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 6
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Europe/Rome
  # Customization file
  customize: !include customize.yaml
  packages: !include_dir_named packages

# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

#discovery:
#  ignore:
#    - yeelight

hacs:
  token: !secret hacs_token
# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
http:
  base_url: https://lollopod.duckdns.org
  ssl_certificate: /ssl/fullchain.pem
  ssl_key: /ssl/privkey.pem
# Text to speech
tts:
  - platform: google_translate

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
homekit: !include homekit.yaml

#!include interface_entities.yaml
input_boolean:
  # Switch to Enable Alarm Clock
  climate_auto:
    name: Climate Auto
    initial: on
    icon: mdi:home-thermometer
  # Used by Automation to enable Snooze
  lights_auto:
    name: Lights_Auto
    initial: on
    icon: mdi:lightbulb-multiple
  # Optional: Enable radio for sequence
  #input booolean for node red
  sunset_approaching:
    name: Sunset Approaching
    initial: off
    icon: mdi:weather-sunset
  bedtime:
    name: Bedtime
    initial: off
    icon: mdi:bed
  wake_up: 
    name: Wake Up
    initial: off
    icon: mdi:weather-sunset-up

input_datetime:
  # The Alarm Time input by the User
  alarmclock_time:
    name: Alarm Time
    has_date: false
    has_time: true



lovelace:
  mode: storage
  # Add yaml dashboards
  dashboards:
    lovelace-yaml:
      mode: yaml
      title: Auto
      icon: mdi:home-heart
      show_in_sidebar: true
      filename: lovelace.yaml
  

#automation:
#  - alias: 'Start HomeKit'
#    trigger:
#      - platform: homeassistant
#        event: start
#    action:
#      - delay: 00:05  # Waits 5 minutes
#      - service: homekit.start

##################
#logger configuration
##################
#logger:
#  default: warn
#  logs:
#    yeelight: debug



#xiaomi gateway

xiaomi_aqara:
 discovery_retry: 10
 gateways:
   - key: !secret xiaomi_gw_key

#lights section 

light:
  - platform: switch
    name: Comodino Lorenzo
    entity_id: switch.sonoff_10008eab7f
  - platform: switch
    name: Comodino Isa
    entity_id: switch.plug_158d000154a757
#  - platform: yeelight
#    devices:
#      192.168.188.38:
#        name: Piantana
        
yeelight:
  devices:
    192.168.188.38:
      name: 'Piantana'
#      model: 'color1'
#switches section 

#meross_cloud:
#  username: !secret meross_user
#  password: !secret meross_pw

sonoff:
  username: !secret sonoff_user
  password: !secret sonoff_pw
#  scan_interval: 60
#  grace_period: 600
#  api_region: 'eu'
#  entity_prefix: True
#  debug: False



          
sensor:
#  - platform: template
#    sensors:
#      appliances_combined_state:
#        value_template: '{{ "on" if (is_state("switch.termoarredo", "on") and is_state("switch.scaldabagno", "on")) else "off" }}'
#        friendly_name: "Stato Prese Switchable"
# Tracking entity to home
#  - platform: waze_travel_time
#    name: "Lorenzo to home"
#    origin: person.lorenzo_campioni
#    destination: zone.home
#    region: 'EU'
#  - platform: waze_travel_time
#    name: "Isadora to home"
#    origin: person.isa
#    destination: zone.home
#    region: 'EU'
  - platform: here_travel_time
    api_key: !secret here_api_key
    name: "Lorenzo to home"
    origin_entity_id: person.lorenzo_campioni
    destination_entity_id: zone.home
    
  - platform: here_travel_time
    api_key: !secret here_api_key
    name: "Isadora to home"
    origin_entity_id: person.isa
    destination_entity_id: zone.home

  - platform: rest
    resource: https://api.travis-ci.org/repos/lollopod/HA_config/builds
    headers:
      Accept: application/vnd.travis-ci.2+json
    value_template: "{{ value_json.builds[0].state }}"
    name: "Travis Build Status"
  - platform: rest
    resource: https://api.travis-ci.org/repos/lollopod/HA_config/builds
    headers:
      Accept: application/vnd.travis-ci.2+json
    value_template: "{{ value_json.builds[0].number }}"
    name: "Travis Build Number"
      
  - platform: command_line
    name: Git
    command: 'git log -1 --pretty=format:''{"commit": "%H", "abbreviated_commit": "%h", "refs": "%D", "subject": "%s", "author": { "name": "%aN", "email": "%aE", "date": "%aD"}, "commiter": { "name": "%cN", "email": "%cE", "date": "%cD" } }'''
    value_template: >
      {{ value_json.abbreviated_commit }}
      json_attributes:
        - commit
        - refs
        - subject
        - author
        - commiter

  - platform: time_date
    display_options:
      - 'time'
      - 'date'
      - 'beat'
  - platform: systemmonitor
    resources:
      - type: disk_use_percent
        arg: /home
      - type: memory_free
#device trackers 
ios:

device_tracker:
  - platform: fritz
    host: 192.168.188.1



#Dominio Switchable
switch:
  - platform: template
    switches:
      appliances:
        friendly_name: "Prese Switchable"
        value_template: "{{ is_state('sensor.appliances_combined_state', 'on') }}"
        turn_on:
          service: switch.turn_on
          entity_id: 
            - switch.termoarredo
            - switch.scaldabagno
        turn_off:
          service: switch.turn_off
          entity_id:
            - switch.termoarredo
            - switch.scaldabagno
############# Climate section 
  - platform: broadlink
#    host: 192.168.188.39
    mac: !secret broadlink_mac
#    timeout: 30
#    friendly_name: "Dispositivo Broadlink"
#    type: rm_mini
    switches:
      learner:
        friendly_name: "Learner"
        command_on: 'JgC8AXQ3EQwRKBELEQsRDBELDw4RCxELEQwQDRELEQwRKBELEQsRDBELEQwRCw8NESgPKhEoEQsSCxEoEQwQDBELEQwRCxEMDw0RCxEMEQsRDBELEQsQDg8NEQsRDBELEQwRCxELEA0RCxEMEQsRCxANEA0PDRANESgRJxEMEQsRDBAMEQsRAAFFdDcPDhEnEgwRCxELEQwPDREMEQsRCxEMEQsPDhEnEQwRCxANEQwRCxEMEQsPKhEoEScRDBELESgRCxEMDw0PDhELEA0PDg8NEQsRDBELEQwPDREoEQsRDA8pEQwRCxInEgsRDBELESgPKhEnESgRDBAMEQsRDBELEQwPDRELEgwRJxEoESgPKhEnEgsRKBELESgRKBELESgRKBELEQsQDRANEQsRDA8NEA0RCxELEgsRCw8OEScRKBEoEQsQDRANEQsRDBELEQwPDRELECkRKBEoEQsRDBELDw0RDBANDw0QDRELEQwRCxELEA0RCxEMEQsRKBELEQwRJxENEQsRCxEoEQwRCxELEQwRCxEMDw0RCxEMEQsQDREMEAwRDA8NEQsRDBEoDykRKBEoDyoRCxEMEQANBQAAAAAAAAAAAAAAAA'
        command_off: ''
      kitchen_cooler:
        friendly_name: "Kitchen Cooler"
        command_on: 'JgC8AXQ3EA0PKREMDw0QDQ8NDw0QDQ8NEA0QDQ8NEA0PKhAMDw0QDQ8NDw0QDQ8NECkQKRApEAwRDBApEA0PDQ8NEA0PDQ8ODw0PDRANDw0PDRANDw0RDQ8NDw0QDQ8NDw4PDQ8NEA0PDQ8ODw0PDRANEQwPDRANDyoQKBANDw0PDg8NDw0QAAFGdTYQDQ8pEQ0PDQ8ODw0PDRANDw0PDRANDw0QDQ8qEAwPDRENDw0PDRANDw0PKhApECgRDA8NECkQDBANDw0QDQ8NEQwQDQ8NDw4PDQ8NEA0PDQ8qEAwQDQ8pESgQKRAMEQ0PDQ8qEAwQDQ8NDyoQDBANDw0PDg8NDw0QDQ8NEQwQKRApECkQKRAoEA0PKhAMDyoQKBEMDyoQKBEMDw0QDREMDw0QDQ8NDw4PDQ8NEA0PDQ8ODykQKRApEAwQDREMDw0QDQ8NDw4PDQ8NECkQKRApEAwPDg8NDw0QDREMDw0QDQ8NDw4PDQ8NEA0PDQ8ODw0PKhAMDw4RKBANDw0PDRApEA0PDQ8NEA0PDQ8ODw0PDRANDw0RDBANDw0PDg8NDw0QDQ8NDyoQDBApEA0PDQ8NEAANBQAAAAAAAAAAAAAAAA=='
        command_off: 'JgC8AXQ3EgoQKRIKEgsQDBILEQsPDRANDw0QDRILEgoSJxIKEgsQDBILEgoQDBANDyoSJhInEA0RDA8qEAwSChEMDw0QDRIKEgoQDQ8NEgsSChIKEQwQDQ8ODw0PDRANEgoSChILEAwQDQ8NEgoQDQ8NEwsQDA8NECkSJxAMEA0SChILEQsQAAFFeDQQDA8qEwoSCxAMDw0SCxIKEgsQDBIKEQwSChInEAwSCxILEAwSCxAMEA0PKhEnECkSChANEicQDA8NEgsSChANEgsQDBILEgoPDRILEgoSCxAMDw0QDQ8qEiYSJxANEgsQDBILEicQKBApEicQDBANEgoPDRILEgoSCxIKEA0QKRApEicSJxEnEgsSJhEMEicSJxELEicQKBILEQsQDRANEgoQDQ8NDw0QDQ8NEA0PDRIKEicSJxApEAwRDBILEgoRDBAMEA0PDRIKEicQKRInEgoQDBANDw0QDRANEgoQDQ8NEgsRCxAMEA0PDRILEAwSJxAMDw0RKBENDw0PDRApEgsPDQ8NEA0SChILDw0SChANDw0QDRILEAwSCw8NEgoRKBANDykQKRILECgQDQ8NDwANBQAAAAAAAAAAAAAAAA'
      kitchen_heater:
        friendly_name: "Kitchen Heater"
        command_on: 'JgC8AXQ3EQwRKBELEQsRDBELDw4RCxELEQwQDRELEQwRKBELEQsRDBELEQwRCw8NESgPKhEoEQsSCxEoEQwQDBELEQwRCxEMDw0RCxEMEQsRDBELEQsQDg8NEQsRDBELEQwRCxELEA0RCxEMEQsRCxANEA0PDRANESgRJxEMEQsRDBAMEQsRAAFFdDcPDhEnEgwRCxELEQwPDREMEQsRCxEMEQsPDhEnEQwRCxANEQwRCxEMEQsPKhEoEScRDBELESgRCxEMDw0PDhELEA0PDg8NEQsRDBELEQwPDREoEQsRDA8pEQwRCxInEgsRDBELESgPKhEnESgRDBAMEQsRDBELEQwPDRELEgwRJxEoESgPKhEnEgsRKBELESgRKBELESgRKBELEQsQDRANEQsRDA8NEA0RCxELEgsRCw8OEScRKBEoEQsQDRANEQsRDBELEQwPDRELECkRKBEoEQsRDBELDw0RDBANDw0QDRELEQwRCxELEA0RCxEMEQsRKBELEQwRJxENEQsRCxEoEQwRCxELEQwRCxEMDw0RCxEMEQsQDREMEAwRDA8NEQsRDBEoDykRKBEoDyoRCxEMEQANBQAAAAAAAAAAAAAAAA'
        command_off: 'JgC8AXQ3EgoQKRIKEgsQDBILEQsPDRANDw0QDRILEgoSJxIKEgsQDBILEgoQDBANDyoSJhInEA0RDA8qEAwSChEMDw0QDRIKEgoQDQ8NEgsSChIKEQwQDQ8ODw0PDRANEgoSChILEAwQDQ8NEgoQDQ8NEwsQDA8NECkSJxAMEA0SChILEQsQAAFFeDQQDA8qEwoSCxAMDw0SCxIKEgsQDBIKEQwSChInEAwSCxILEAwSCxAMEA0PKhEnECkSChANEicQDA8NEgsSChANEgsQDBILEgoPDRILEgoSCxAMDw0QDQ8qEiYSJxANEgsQDBILEicQKBApEicQDBANEgoPDRILEgoSCxIKEA0QKRApEicSJxEnEgsSJhEMEicSJxELEicQKBILEQsQDRANEgoQDQ8NDw0QDQ8NEA0PDRIKEicSJxApEAwRDBILEgoRDBAMEA0PDRIKEicQKRInEgoQDBANDw0QDRANEgoQDQ8NEgsRCxAMEA0PDRILEAwSJxAMDw0RKBENDw0PDRApEgsPDQ8NEA0SChILDw0SChANDw0QDRILEAwSCw8NEgoRKBANDykQKRILECgQDQ8NDwANBQAAAAAAAAAAAAAAAA'

smartir: 

climate:

  - platform: dualmode_generic
    name: Termostato Cucina
    heater: switch.kitchen_heater
    cooler: switch.kitchen_cooler
    target_sensor: sensor.temperature_158d0003203bba
    min_cycle_duration: 00:10:00
    away_temp: 17
    cold_tolerance: 1
    hot_tolerance: 0.5
    precision: 0.1
    
  - platform: dualmode_generic
    name: Termostato Camera
    heater: switch.bedroom_heat
    cooler: switch.kitchen_cooler
    target_sensor: sensor.temperatura_camera
    min_cycle_duration: 00:10:00
    away_temp: 17
    cold_tolerance: 0.5
    hot_tolerance: 0.5
    precision: 0.1

#ir file for media player to be retreived from broadlink app
media_player:
  - platform: smartir
    name: TV
    device_code: 8000
    controller_data: remote.rmmini_remote
  - platform: androidtv
    name: Mi Box S
    host: 192.168.188.41
    #device_class: firetv
    adb_server_ip: 127.0.0.1
    #adb_server_port: 5037
    #get_sources: false
    state_detection_rules:
      'com.amazon.tv.launcher':
        - 'standby'

#n26:
#  username: !secret n26_user
#  password: !secret n26_password


spotify:
  client_id: !secret spotify_id
  client_secret: !secret spotify_secret

shell_command:
  git_pull: ./gitpull.sh
  
  
google_assistant:
  project_id: test-raspy-ghome
  report_state: true
  service_account: !include google-service-account.json
  exposed_domains:
    - light
    - script
  entity_config:
    input_boolean.bedtime:
      expose: true
      room: Camera da Letto
    input_boolean.wake_up:
      expose: true
      room: Camera da Letto
    switch.wol_imac_switch:
      expose: true
      room: Camera da Letto
      name: "iMac"
    sensor.temperature_158d0003203bba:
      expose: true
      room: Cucina
      name: "Temperatura Cucina" 
    sensor.humidity_158d0003203bba:
      expose: true
      room: Cucina
      name: "Umidità Cucina"
    sensor.family_status:
      expose: true
      room: Cucina
    climate.termostato_cucina:
      expose: true
      room: Cucina
      name: "Termostato Cucina"
    climate.termostato_camera:
      expose: true
      room: Camera da Letto
      name: "Termostato Camera"
    sensor.temperatura_camera:
      expose: true
      room: Camera da Letto
      name: "Temperatura Camera" 
    sensor.umidita_camera:
      expose: true
      room: Camera da Letto
      name: "Umidità Camera"

# Example configuration.yaml entry
weather:
  - platform: openweathermap
    api_key: !secret owm_api_key
    
recorder:
  exclude:
    domains:
      - sensor
      - switch
      - media_player
      - automation
      - input_boolean
      - input_number
      - device_tracker
      - persistent_notification
      - zone
      
  include:
    entities:
      - sensor.family_status
      - sensor.humidity_158d0003203bba
      - sensor.illumination_34ce0085a83c
      - sensor.temperature_158d0003203bba
      - sensor.isadora_to_home
      - sensor.lorenzo_to_home
      - sensor.scaldabagno
      - sensor.termoarredo
      - switch.scaldabagno
      - switch.termoarredo
      - switch.plants_water_switch
      - sensor.plants_measurement
      - sensor.rosmarino
      - sensor.temperatura_camera
      - sensor.umidita_camera
      - sensor.presenza_scrivania
      - sensor.distanza_scrivania
      - media_player.mi_box_s
#      - sensor.presenza_scrivania_nodered
google:
  client_id: !secret gcal_client_id
  client_secret: !secret gcal_client_secret
  
 
