

homeassistant:
  # Name of the location where Home Assistant is running
  name: Nido
  # Location required to calculate the time the sun rises and sets
  latitude: !secret latitude
  longitude: !secret longitude
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 0
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Europe/Rome
  # Customization file
  customize: !include customize.yaml

# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
# http:
#   base_url: example.duckdns.org:8123

# Text to speech
tts:
  - platform: google_translate

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml

xiaomi_aqara:
 discovery_retry: 10
 gateways:
   - key: !secret xiaomi_gw_key

light:
  - platform: switch
    name: Small Lamp
    entity_id: switch.livingroom_lamp

ios:

#meross:
#  username: !secret meross_user
#  password: !secret meross_pw
#  scan_interval: 10
#  meross_devices_scan_interval: 500

logger:
  default: WARNING
  logs:
    meross_sensor: DEBUG
    meross_switch: DEBUG
    meross_init: DEBUG

cloud:
  google_actions:
    filter:
      include_domains:
        - light
        - switch
        - media_player
        - sensor
        - fan
        - climate
      exclude_domains:
        - group
        - script
#    entity_config:
#      switch.plug_158d000154a757:
#        name: Night light
#        room:

#remote:
#  - platform: xiaomi_miio
#    host: 192.168.188.27
#    token: !secret xiaomi_ir_token
